<li class="comment-item" *ngIf="!editModeEnabled">
  <div class="comment-header clearfix">
    <a [routerLink]="['/users', comment.user.id, comment.user.slug]">{{comment.user.username}}</a>
    <span>{{comment.created_at}}</span>

    <app-action-menu [id]="getDomId()" *ngIf="authService.isLoggedIn()">
      <li *ngIf="comment.is_owner">
        <a (click)="editModeEnabled = true"><i class="fa fa-pencil"></i> Edit</a>
      </li>
      <li *ngIf="comment.is_owner">
        <a (click)="onDelete(comment)"><i class="fa fa-trash"></i> Delete</a>
      </li>
      <li>
        <app-flag-button *ngIf="!comment.is_owner" [flaggableType]="'comment'" [flaggable]="comment"></app-flag-button>
      </li>
    </app-action-menu>
  </div>

  {{comment.body}}
</li>

<li class="comment-item" *ngIf="editModeEnabled">
  <app-comment-form
    [comment]="comment"
    (onCommentSaved)="onCommentSaved($event)"
    (onCommentCanceled)="editModeEnabled = false"
    >
  </app-comment-form>
</li>
