<div class="small-12 column comments">
  <ul class="no-bullet comment-list" *ngIf="comments.length > 0">
    <app-comment-item
      *ngFor="let comment of comments"
      [comment]="comment"
      (onCommentDeleted)="onCommentDeleted($event)">
    </app-comment-item>
  </ul>

  <app-comment-form
    [comment]="{commentable_id: commentableId, commentable_type: commentableType}"
    (onCommentSaved)="onCommentSaved($event)"
    (onCommentCanceled)="toggleForm()"
    *ngIf="isFormOpened">
  </app-comment-form>

  <div>
    <a (click)="toggleForm()" *ngIf="!isFormOpened">+ add a comment</a>
  </div>
</div>
