:focus { outline: none; }

.inline-list {
  li {
    display: inline-block;
    list-style-type: none;
  }
}

.box {
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 10px;

  background: $white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .09);
  border-radius: 3px;
}

// 100% height .off-canvas
.off-canvas-wrapper-inner,
.off-canvas,
.off-canvas-content {
  min-height: 100vh;
}

// Preventing FOUC
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}


