// Colors
$light-gray: #fafafa;
$white: #fff;

// Global
$body-font-family: Roboto, Arial, sans-serif;
$body-background: $light-gray;

// Typography
$header-sizes: (
  small: (
    'h1': 24,
    'h2': 20,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 32,
    'h2': 24,
    'h3': 22,
    'h4': 18,
    'h5': 16,
    'h6': 14,
  ),
);

// header navigation
$top-navigation-bg-color: rgba(4, 139, 154, 0.8);
$top-navigation-color: #fff;
$top-navigation-active-color: $top-navigation-color;
$top-navigation-active-bg-color: transparent;

// tags
$tag-color: #fff;
$tag-bg-color: #1585cf;
$tag-bg-hover-color: #72b5e2;

// vote control
$vote-size: 12px;
$vote-bg-color: #000;
$vote-bg-voted-up-color: #27ae60;
$vote-bg-voted-down-color: #e74c3c;
