
default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost

development:
  <<: *default
  database: advicy_development

test:
  <<: *default
  database: advicy_test

production:
  <<: *default
  database: advicy_production
  username: advicy
  password: <%= ENV['DATABASE_PASSWORD'] %>
