
<div class="medium-9 columns">
  <div class="small-12 column box question-details" *ngIf="question">
    <!-- Author & Stats -->
    <div class="clearfix">
      <div class="media-object float-left">
        <a class="media-object-section" [routerLink]="['/users', question.user.id, question.user.slug]">
          <img src="{{question.user.image_url}}" class="avatar">
        </a>
        <div class="media-object-section">
          <a [routerLink]="['/users', question.user.id, question.user.slug]">
            {{question.user.username}}
          </a>
          <p>
            {{question.created_at}}
          </p>
        </div>
      </div>
      <!-- Stats -->
      <div class="float-right stats">
        <ul class="inline-list no-bullet">
          <li>
            <div class="stat">{{question.answers_count}}</div>answers
          </li>
          <li>
            <div class="stat">{{question.views}}</div>views
          </li>
          <li>
            <div class="stat">{{question.score}}</div>score
          </li>
        </ul>
      </div>
    </div>

    <!-- Question Title & Body -->
    <div>
      <h2>{{question.title}}</h2>
      <div class="description" [innerHTML]="question.description_html"></div>
    </div>


    <!-- Tags -->
    <div class="row">
      <div class="small-12 column">
        <ul class="tags">
          <li *ngFor="let tag of question.tags">
            <a routerLink="/questions/tag/{{tag.name}}">{{tag.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="clearfix">
      <a (click)="comments.toggleForm()" *ngIf="question.comments.length == 0">+ add a comment</a>
      <div class="float-right">
        <app-action-menu [id]="getDomId()">
          <li *ngIf="question.is_owner">
            <a [routerLink]="['/questions', question.id, question.slug, 'edit']">Edit</a>
          </li>
          <li *ngIf="question.is_owner">
            <a (click)="onDelete()">Delete</a>
          </li>
          <li>
            <app-share-button [text]=""></app-share-button>
          </li>
          <li>
            <app-flag-button [flaggableType]="'question'" [flaggable]="question"></app-flag-button>
          </li>
        </app-action-menu>
      </div>
    </div>

    <app-comments #comments [comments]="question.comments"
                    [commentableType]="'question'"
                    [commentableId]="question.id">
                    </app-comments>

  </div>

  <!-- Answers -->
  <app-answers [question]="question" *ngIf="question"></app-answers>
</div>

<!-- Sidebar -->
<div class="medium-3 columns">
  <app-related-questions [questionId]="question.id" *ngIf="question"></app-related-questions>
</div>
