<nav class="top-navigation">
  <div class="title-bar stacked-for-medium" data-responsive-toggle="top-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Advicy</div>
  </div>
  <div class="top-bar" id="top-menu">
    <div class="top-bar-left">
      <ul class="vertical medium-horizontal menu">
        <li class="menu-text">Advicy</li>
        <li>
          <app-search></app-search>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink=''>Questions</a>
        </li>
        <li routerLinkActive="active"><a routerLink='/jobs'>Jobs</a></li>
        <li routerLinkActive="active"><a routerLink='/tags'>Tags</a></li>
        <li routerLinkActive="active"><a routerLink='/users'>Users</a></li>
        <li routerLinkActive="active"><a routerLink="/categories">Categories</a></li>
        <li routerLinkActive="active"><a routerLink="/questions/new">Ask a Question</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="vertical medium-horizontal menu">
        <li *ngIf="!auth.isLoggedIn()"><a (click)='auth.navigateToSignIn()'>Sign In</a></li>
        <li *ngIf="auth.isLoggedIn()">
          <a [routerLink]="['/users', auth.currentUser().id, auth.currentUser().slug]">
            {{auth.currentUser().username}}
          </a>
        </li>
        <li *ngIf="auth.isLoggedIn()">
          <a (click)='auth.signOut()'>Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
