<div class="tiny reveal" id="auth-modal" data-reveal data-animation-in="hinge-in-from-middle-x" >
  <div class="small-12 columns">
    <h4>Signup or
      <a (click)="authService.navigateToSignIn(); close()">Log In</a>
    </h4>
    <a class="button" (click)="authService.navigateToOAuthFacebook();close()">Facebook Sign In</a>

    <a class="button" (click)="authService.navigateToOAuthGoogle();close()">Google Sign In</a>
    <a class="button" (click)="authService.navigateToSignUp(); close()">Sign Up with Email</a>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



