<div class="small-8 large-4 small-centered large-centered column">
  <div *ngIf="!isPasswordSent">
    <h4>Forgot Your Password?</h4>

    <div class='callout alert' *ngIf="error">
      <p>{{error}}</p>
    </div>

    <form (submit)="onSubmit(emailField.value)">
      <label>
        Email
        <input #emailField type="email" name="emailField" required>
      </label>

      <input type="submit" class="button" value="Send My Password">
    </form>
  </div>

  <div *ngIf="isPasswordSent">
    <h4>Thank You</h4>

    <p>
      We have sent an email with instructions to <strong>{{email}}</strong>
    </p>

    If you have not received your reset password email, take the following steps:

    <ol>
      <li><b>Wait.</b> It can take up to few minutes for the email to be delivered.</li>
      <li><b>Check your spam folder.</b> Make sure the email was not caught by your spam filter.</li>
      <li>
        <b>Click <a (click)="resetForm()">here </a> </b> to retype and submit your email.
      </li>
    </ol>
  </div>
</div>
