.vote-control {
  text-align: center;

  .vote-up {
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    transition: color 0.5s ease 0s;

    &:hover {
      color: $vote-bg-voted-up-color;
    }

    &.voted {
      color: $vote-bg-voted-up-color;
    }
  }

  .vote-down {
    @extend .vote-up;

    &:hover {
      color: $vote-bg-voted-down-color;
    }

    &.voted {
      color: $vote-bg-voted-down-color;
    }
  }

  .vote-count {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1rem;
  }
}

