<div class="small-8 large-4 small-centered large-centered column">
  <h4>Change Your Password</h4>

  <div class='callout alert' *ngIf="error">
    <p>{{error}}</p>
  </div>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label>
      New Password
      <input type="password" name="password"
        required
        minlength="5"
        [(ngModel)]="newPassword"
        #password="ngModel" />
    </label>
    <div [class.is-visible]="!(password.valid || password.pristine)" class="form-error">
      Password must be greater than 6 letters.
    </div>

    <button type="submit" class="button">Change My Password</button>
  </form>
</div>

