<div class="row answer-item">
  <a id="a{{answer.id}}" name="a{{answer.id}}"></a>
  <div class="small-12 column box">
    <!-- Author & Stats -->
    <div class="clearfix">
      <div class="media-object float-left">
        <a class="media-object-section" [routerLink]="['/users', answer.user.id, answer.user.slug]">
          <img src="{{answer.user.image_url}}" class="avatar-small">
        </a>
        <div class="media-object-section">
          <a [routerLink]="['/users', answer.user.id, answer.user.slug]">
            {{answer.user.username}}
          </a>
          <span>{{answer.created_at}}</span>
        </div>
      </div>

      <div class="float-right">
        <app-vote-control [votableType]="'answer'" [votable]='answer'></app-vote-control>

        <app-action-menu [id]="answer.id">
          <li>
            <a [routerLink]="['/questions', answer.question_id, answer.question_slug, 'answers', answer.id, 'edit']"><i class="fa fa-pencil"></i> Edit</a>
          </li>
          <li>
            <a (click)="onDeleteClick()"><i class="fa fa-trash"></i> Delete</a>
          </li>
        </app-action-menu>
      </div>
    </div>

    <div class="answer-body" [innerHTML]="answer.body_html"></div>

    <app-comments [comments]="answer.comments"
                  [commentableType]="'answer'"
                  [commentableId]="answer.id">
                  </app-comments>

  </div>

</div>
